
  <div class='container-fluid'>
    <%= form_with(model: @user, local: true) do |form| %>
      
      <% if  @user.errors.include?('first_name') %>
        <div class="alert alert-danger" role="first_name">
        <% @user.errors.full_messages.each do |message| %>
          <p><%= message if message.include?('first_name') %></p>
        <% end %>
        <p><%= form.text_field :first_name, class: 'w-25 mb-3 form-control' %></p>
        </div>
        <% else %>
          <h4 class='text-primary'>User name</h4>
          <p><%= form.text_field :first_name, class: 'w-25 mb-3 form-control' %></p>
      <% end %>

      <% if  @user.errors.include?('password') %>
        <div class="alert alert-danger" role="password">
          <% @user.errors.full_messages.each do |message| %>
            <p><%= message if message.include?('password') %></p>
          <% end %>
          <p><%= form.text_field :password, class: 'w-25 mb-3 form-control' %></p>
        </div>
      <% else %>
        <h4 class='text-primary'>Password</h4>
        <p><%= form.text_field :password, class: 'w-25 mb-3 form-control' %></p>
      <% end %>

      <% if  @user.errors.include?('city_id') %>
        <div class="alert alert-danger" role="city_id">
          <% @user.errors.full_messages.each do |message| %>
            <p><%= message if message.include?('city_id') %></p>
          <% end %>
          <p><%= form.text_field :city_id, class: 'w-25 mb-3 form-control' %></p>
        </div>
      <% else %>
        <h4 class='text-primary'>City</h4>
        <p><%= form.text_field :city_id, class: 'w-25 mb-3 form-control' %></p>
      <% end %>
     
      <%= form.hidden_field :user_id, :value => User.first.id %>
      
      <hr/>
      <div class="actions">
        <%= form.submit "Create your user", class: 'btn btn-lg btn-success' %>
      </div>
    <% end %>
  </div>